body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #f8fafc; /* Aapka background color */
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
}
